label, input[type="checkbox"] {
    cursor: pointer;
}

.card {
    transition-duration: 0.3s; /*変化の時間*/
    }
    .card:hover {
    transform: scale(1.8,1.8); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
}