.cb{
    user-select: none;
}
.cb label, input[type="checkbox"] {
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.cb input[type="checkbox"]{
    display: none;
}

.cb a{
    background: #2196f3;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.cb a:hover{
    background: #0c7cd5;
    text-decoration: none;
}

.cb label:hover{
    color:#d45;
}

.cb input:checked + label{
    border: 1px solid;
    background-color: #d45;
    color:white;
}

.cb input:checked + label:hover{
    background-color: #c34;
}

.cb label{
	-webkit-transition: 0.25s all ease;
	        transition: 0.25s all ease;
}

.ordercb{
    display: inline;
    user-select: none;
}

.ordercb label:before{
    background-color:#d45;
    color:white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    content: "▲";
}

.ordercb input:checked + label:before{
    content: "▼";

}

.ordercb input[type="checkbox"]{
    display: none;
}

main{
    max-width: 1050px;
}

main input[type="text"], select{
    display: inline-block;
    padding: 10px;
}

main select{
    background-color: #d45;
    color:white;
}

.title{
    font-size: 14pt;
    line-height : 20px;
}

.card{
    float: left;
    width: 200px;
    height: 350px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.card-img {
    transition-duration: 0.3s; /*変化の時間*/
}
/*
.card-img:hover {
    transform-origin: bottom;
    transform: scale(1.5,1.5); 
    cursor: pointer; 
}
*/

.card-info{
    user-select: none;
}

.card-info .addcard{
    background-color: #d45;
    color:white;
    font-size: 30px;
    border-radius: 3px;
    padding-left:11px;
    margin-right:5px;
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}

.card-info .addcard:before{
    content:"+";
}


.card-info .addcard:hover{
    background-color: #c34;
}

.card-info .remcard{
    background-color: #d45;
    color:white;
    font-size: 30px;
    border-radius: 3px;
    padding-left:15px;
    margin-right:20px;
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}

.card-info .remcard:before{
    content:"-";
    display: block;
    position: relative;
    top:-3px;
}


.card-info .remcard:hover{
    background-color: #c34;
}

.card-info .cardNum{
    color: #d45;
    font-size: 30px;
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}

.card-info .Num:hover{
    background-color: #c34;
}

footer p {
    margin-top : 50px;
}
