label, input[type="checkbox"] {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

main{
    max-width: 1050px;
}

.title{
    font-size: 14pt;
    line-height : 20px;
}

.card {
    transition-duration: 0.3s; /*変化の時間*/
    }
    .card:hover {
    transform: scale(1.5,1.5); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
}

footer p {
    margin-top : 50px;
}